@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-green-dark: 130 60% 6%;
    --main-grey-dark: 135 2% 41%;
    --main-grey-middle: 0 0% 81%;
    --main-grey-light: 0 0% 96%;

    /* accent */

    --accent-orange-middle: 24, 100%, 50%;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  @apply leading-7;
}
@layer base {
  .custom-container {
    @apply mx-auto max-w-full laptop:px-14 px-3;
  }
}

/* mobile:max-w-[300px] mobile:p-0 tablet:max-w-[600px] laptop:max-w-[864px] desktop:max-w-[1400px] */
